
/* .body {
    background-image: url("/images/back-ground-img.jpg");
    background-size: cover;
    background-position: center;
}



.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.col-3 {
    width: calc(33.33% - 10px);
}
.col-3 img {
    width: 100%;
    height: auto;
} */
